<h1>Checkout</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Please Enter Your Delivery Information</h3>
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>


<%= button_to 'Back To Store', store_path, :class => "btn btn-primary" %>