<div class="jumbotron">
	<h1>Welcome To QFS</h1>
	<p>At QFS, we bring to you, everyday, unbeatable Quality, Freshness and Service. After all, it is our name.</p>
</div>

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<h4><strong>Shop Online</strong></h4><br>
			<%= image_tag('basket.png') %><br>
			<br>
			<br>
			<p>Can't make it in store? Don't worry, shop online today and either pick up your order in store or get it delivered to your door!</p><br>

			<%= link_to "Shop Online", store_index_url, :class => "btn btn-success" %>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
		<h4><strong>Topic 2</strong></h4>
		<%= image_tag('alternate-image.png') %><br>
		<br>
		<br>
		<p>Topic Text</p>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body text-center">
		<h4><strong>Topic 2</strong></h4>
		<%= image_tag('alternate-image.png') %><br>
		<br>
		<br>
		<p>Topic Text</p>
		</div>
	</div>
</div>